
.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }

  .section-title::before,
  .section-title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
  }

  .section-title::before {
    margin-right: 1rem;
  }

  .section-title::after {
    margin-left: 1rem;
  }

  .subtitle {
    color: #6c757d; /* texto gris tipo muted */
    font-size: 1rem;
    margin-top: -0.5rem;
  }
  
  div.form {
    display: flex;
    flex-direction: row;
    margin: 15%;
  }